:root {
  /*colors*/
  --primary-50: #ecf8ff;
  --primary-100: #d5edff;
  --primary-200: #b5e1ff;
  --primary-300: #82d0ff;
  --primary-400: #47b4ff;
  --primary-500: #1d91ff;
  --primary-600: #0570ff;
  --primary-700: #0058f6;
  --primary-800: #074dd9;
  --primary-900: #0c409c;
  --primary-950: #0d285e;

  --neutral-50: #F8FAFC;
  --neutraly-100: #F1F5F9;
  --neutral-200: #E2E8F0;
  --neutral-300: #CBD5E1;
  --neutral-400: #94A3B8;
  --neutral-500: #64748B;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1E293B;
  --neutral-900: #0F172A;
  --neutral-950: #020617;

  /*font-family*/
  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Roboto", sans-serif;

  /*font-size*/
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5;
  --fs-2xl: 1.875rem;
  --fs-3xl: 2.25rem;
  --fs-4xl: 3rem;
  --fs-5xl: 3.75rem;

  /*font-weight*/
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /*line-height*/

  /*border-radius*/
  --radius-sm: 2px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;

  /*spaces*/
  --space-05: 2px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --radius-16: 64px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section__hero {
  display: grid;
  grid-template-rows: repeat(2,auto);

  width: 90%;
}

img {
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {

}